*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

div.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

section.payment-method{
    background-color: white;
    width: 328px;
    height: 328px;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
    overflow: hidden;
}

section.payment-method article.dot-container{
    text-align: center;
    margin-bottom: 10px;
}

section.payment-method article.dot-container span.dot{
    height: 7px;
    width: 7px;
    background-color: #dedede;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5PX;
}

section.payment-method article.dot-container span.active{
    background-color: #aaaaaa;
}

section.payment-method h2{
    text-align: center;
    margin-bottom: 30px;
}

section.payment-method div.method{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-top: 1px grey solid;
    height: 60px;
    padding: 0 15px 0 30px;
    transition: background 0.2s ease-in-out;
}

section.payment-method div.method:hover{
    background-color: #c5c5c5;
}

section.payment-method div.method img.method-img{
    width: 50px;
}

section.payment-method div.method span.method-name{
    font-weight: 700;
    margin-left: 20px;
    color: #aaaaaa;

}

section.payment-method div.method img.method-check{
    margin-left: auto;
    display: none;
}

section.payment-method div.checked span.method-name{
    color: black;
}

section.payment-method div.checked img.method-check{
    display: inline;
}

section.payment-method button.next-btn{
    width: 100%;
    height: 50px;
    box-shadow: none;
    background-color: #598bdd;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background 0.2s ease-in-out;
    padding-top: 40px;
}

section.payment-method button.next-btn:hover{
    background-color: #679bf1;
}

section.payment-method button.next-btn:active{
    transform: translateY(4px);
}

section.payment-method button.next-btn span{
    color: white;
    font-size: 15px;
}

section.payment-method button.next-btn img{
    width: 18px;
}


